body {
  font-family: 'Press Start 2P';
  background-color: #000000;
  color: white;
  text-transform: uppercase;
}

h1 {
  color: red;
  font-size: 2.1vw;
}

h2 {
  color: blue;
  font-size: 1.7vw;
}

h3 {
  color: yellow;
  font-size: 1.5vw;
}
