body {
  font-family: 'Press Start 2P';
  background-color: #000000;
  color: white;
  text-transform: uppercase;
}
/* 
h1 {
  color: red;
  font-size: max(2.1vw, 18px);
}

h2 {
  color: blue;
  font-size: max(1.7vw, 16px);
  line-height: max(3vw, 32px);
}

h3 {
  color: yellow;
  font-size: max(1.5vw, 15px);
} */
